package pages

import "github.com/MateuszPietrzak/72h/templates/components"

templ CognitiveWar() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>72 Godziny</title>
			@components.StyleSetup()
		</head>
		<body>
			@components.Navbar()
			<div>
				<div class="flex flex-col gap-16 mx-60 bg-white shadow-2xl">
					@components.HeaderContentBlock("“Bo wojna tak jak i pokój zaczyna się w głowie”", "Wojna\nkognitywna", "Kampania młodych przeciwko wojnie kognitywnej",
						`
					Wojna kognitywna – to działania mające wpływać na sposób myślenia ludzi, ich emocje, zachowania i podejmowane decyzje, tak aby osiągnąć przewagę nad przeciwnikiem bez użycia siły fizycznej, głównie poprzez manipulację informacjami i percepcją. 
			`)
					<div class="px-[10%] flex flex-col gap-8">
						<div>
							<p class="ml-4 text-lg mb-4">
								W projekcie 72h, podeszliśmy do zjawiska wojny kognitywnej w sposób systemowy, tworząc rozwiązania podnoszące świadomość młodych ludzi i dorosłych. Jednym z nich była prelekcja „Wojna pomiędzy linijkami kodu”, która spotkała się z dużym uznaniem ekspertów i została zaprezentowana w wielu instytucjach publicznych. 
								Wnieśliśmy również  wkład w Konkluzję Rady UE opracowywaną podczas polskiej prezydencji, w której podkreślono znaczenie zagrożeń związanych z manipulacją kognitywną, treściami generowanymi przez sztuczną inteligencję i wirtualnymi światami. 
								Równolegle współpracowaliśmy z Radą Europy, tworząc strategię komunikacyjną dotyczącą ryzyka hazardu i gier online wśród dzieci i młodzieży — obszaru ściśle powiązanego z podatnością na wpływ i zaburzenia percepcji, oraz zespołem UNICEF w wypracowaniem i wyborem pomysłów na nowy model współpracy UNICEF Polska ze szkołami. 
							</p>
							<p class="ml-4 text-lg mb-4">
								W odniesieniu do młodych odbiorców opracowaliśmy dwa praktyczne narzędzia edukacyjne: 
								ogólnopolski konkurs na stworzenie gry planszowej lub karcianej dotyczącej zagrożeń kognitywnych, 
								komiks poruszający temat technik, mechanizmów i efektów stosowanych w wojnie kognitywnej . 
							</p>
						</div>
						<div>
							<h2 class="text-3xl font-bold mb-8">
								1. Task Forces uczniowski  
							</h2>
							<p class="ml-4 text-lg mb-4">
								3 LAB „Wojna pomiędzy linijkami kodu” – dwuletni  projekt analizujący wpływ manipulacji kognitywnej na zdrowie dzieci i młodzieży. 
								Efektem prac była prelekcja „Wojna pomiędzy linijkami kodu”, zaprezentowana m.in.: 
								w Ministerstwie Edukacji Narodowej, podczas spotkania z Minister Edukacji Barbarą Nowacką, 
								w Urzędzie Miasta Gdyni, 
								w Meissners and Partners, podczas panelu dyskusyjnego z liderami sektora biznesowego, 
								w ramach inicjatywy Komisji Nauk Kosmicznych PAN dla Uniwersytetu III Wieku, 
								podczas XXVII Kongresu Polskiego Towarzystwa Psychologicznego. 
								Artykuł na temat projektu: 
								(link zachowany w oryginale) 
								<a
									href="https://www.gdynia.pl/mieszkaniec/aktualnosci,4018/projekt-gdynskich-licealistow-wysoko-oceniony-przez-specjalistow-zdrowia-psychicznego,591150"
								>
									https://www.gdynia.pl/mieszkaniec/aktualnosci,4018/projekt-gdynskich-licealistow-wysoko-oceniony-przez-specjalistow-zdrowia-psychicznego,591150 
								</a>
							</p>
							<h3 class="text-2xl font-bold mb-4">
								Zespół: 
							</h3>
							<ul class="list-disc ml-8 text-lg mb-4">
								<li>Jakub Gawinek – lider </li>
								<li>Kiara Stempień </li>
								<li>Gaia di Marco </li>
								<li>Robert Łagidze </li>
								<li>Leszek Wójcik </li>
								<li>Julia Kobylska </li>
								<li>Natalia Sikorska </li>
								<li>Łucja Mielnik </li>
								<li>Koordynacja: Anna Rzepa </li>
							</ul>
						</div>
						<div>
							<h2 class="text-3xl font-bold mb-8">
								2. Polska prezydencja w Radzie UE – prace uczennic pracowni Innowacji 3LAB z  III LO nad Konkluzją 
							</h2>
							<p class="ml-4 text-lg mb-4">
								Podczas polskiej prezydencji w Radzie Unii Europejskiej w 2025 roku miała miejsce współpraca zespołu uczennic III LO z Ministerstwem Zdrowia przy przygotowaniu Konkluzji Rady UE w sprawie promowania i ochrony zdrowia psychicznego dzieci i młodzieży w erze cyfrowej. 
								Uwagi Zespołu Uczniowskiego — zwłaszcza dotyczące manipulacji kognitywnej, treści generowanych przez sztuczną inteligencję oraz wpływu wirtualnych światów — zostały uwzględnione w procesie tworzenia dokumentu. 
								Przyjęta przez Radę UE konkluzja wzywa państwa członkowskie do zwiększania świadomości na temat zagrożeń wynikających z kognitywnych form manipulacji, zniekształcania rzeczywistości i rosnącej podatności młodych ludzi na wpływ informacyjny. 
							</p>
							<h3 class="text-2xl font-bold mb-4">
								Zespół: 
							</h3>
							<ul class="list-disc ml-8 text-lg mb-4">
								<li>Zuzanna Rudziks </li>
								<li>Julia Perlejewska </li>
								<li>Zuzanna Jończyk </li>
								<li>Hanna Kuźmitowicz </li>
								<li>Koordynacja: Anna Rzepa  </li>
							</ul>
						</div>
						<div>
							<h2 class="text-3xl font-bold mb-8">
								3. „Promoting the Mental Health of Children and Youth by Addressing the Risks of Online Gambling and Gaming” – Rada Europy 
							</h2>
							<p class="ml-4 text-lg mb-4">
								Zespół uczniów z Pracowni Innowacji 3 LAB z  III LO w Gdyni, jako jedyni młodzi reprezentanci w Europie, uczestniczył w międzydyscyplinarnej grupie roboczej ds. komunikacji. Celem prac było opracowanie strategicznego dokumentu „Blueprint”, dotyczącego przeciwdziałania ryzykom i negatywnym skutkom uzależnień od hazardu online i gier online oraz ich wpływu na zdrowie psychiczne młodych ludzi. 
								Projekt jest inicjatywą Rady Europy, realizowaną przez Grupę Pompidou w ramach Dyrektoriatu Generalnego ds. Praw Człowieka i Rządów Prawa. 
								Zaangażowanie w prace nad strategią komunikacyjną w projekcie Rady Europy dotyczącym uzależnień od hazardu i gier online było bezpośrednio związane z problematyką manipulacji kognitywnej, ponieważ uzależnienia wpływają na zdrowie psychiczne, percepcję oraz zwiększoną podatność młodych ludzi na manipulację i kontrolę informacyjną. 
							</p>
							<h3 class="text-2xl font-bold mb-4">
								Zespół: 
							</h3>
							<ul class="list-disc ml-8 text-lg mb-4">
								<li>Łucja Mielnik – liderka </li>
								<li>Zuzanna Kizielewicz </li>
								<li>Zuzanna Rudziks </li>
								<li>Wiktor Fuksa </li>
								<li>Michał Lewandowski </li>
								<li>Koordynacja: Anna Rzepa </li>
								<li>Nauczyciele wspierający: Sława Winiarska-Mielniczuk, Izabela Radziuk-Śliwińska </li>
							</ul>
						</div>
						<div>
							<h2 class="text-3xl font-bold mb-8">
								4. UNICEF
							</h2>
							<p class="ml-4 text-lg mb-4">
								Przedstawiciele Pracowni Innowacji 3Lab w Gdyni zostali zaproszeni do udziału w pracach nad wypracowaniem i wyborem pomysłów na nowy model współpracy UNICEF Polska ze szkołami. Warsztat prowadzony będzie przez zespół Unicef i Greenhat i obejmie:
								pracę z sygnałami zmian,
								tworzenie mapy możliwości,
								projektowanie rozwiązań z wykorzystaniem storyboardów (ścieżka usługi),
								wymianę pomysłów pomiędzy grupami.
								Podczas spotkania przedstawiliśmy zespołowi pracującemu nad tymi rozwiązaniami informacje dotyczące wojny kognitywnej oraz jej wpływu na młodych ludzi. Omówiliśmy techniki oddziaływania, stosowane mechanizmy oraz potencjalne skutki takich działań.
								Zaproponowaliśmy również, aby w ramach prac nad nowym modelem współpracy oraz w kontekście praw dziecka, uwzględnić prawo dziecka do ochrony przed manipulacjami kognitywnymi i wpływem ukierunkowanym na zaburzenie ich percepcji, decyzji i dobrostanu.
								4. Przedstawiciele Pracowni Innowacji 3Lab w Gdyni zostali zaproszeni do udziału w pracach nad wypracowaniem i wyborem pomysłów na nowy model współpracy UNICEF Polska ze szkołami. Warsztat prowadzony będzie przez zespół Greenhat i obejmie:
								pracę z sygnałami zmian,
								tworzenie mapy możliwości,
								projektowanie rozwiązań z wykorzystaniem storyboardów (ścieżka usługi),
								wymianę pomysłów pomiędzy grupami.
								Podczas spotkania przedstawiliśmy zespołowi pracującemu nad tymi rozwiązaniami informacje dotyczące wojny kognitywnej oraz jej wpływu na młodych ludzi. Omówiliśmy techniki oddziaływania, stosowane mechanizmy oraz potencjalne skutki takich działań.
								Zaproponowaliśmy również, aby w ramach prac nad nowym modelem współpracy oraz w kontekście praw dziecka, uwzględnić prawo dziecka do ochrony przed manipulacjami kognitywnymi i wpływem ukierunkowanym na zaburzenie ich percepcji, decyzji i dobrostanu.
							</p>
							<h3 class="text-2xl font-bold mb-4">
								Zespół
							</h3>
							<ul class="list-disc ml-8 text-lg mb-4">
								<li>Jakub Gawinek</li>
								<li>Alvtyna Litinska </li>
								<li>Malwina Kutysz</li>
								<li>koordynacja: Dorota  Stepaniuk - III LO w Gdyni</li>
							</ul>
						</div>
						<div>
							<h2 class="text-3xl font-bold mb-8">
								5. KOMIKS
							</h2>
							<p class="ml-4 text-lg mb-4">
								Trwają prace nad stworzeniem komiksu, pokazujacego całe spektrum mechaniki i zasad dzięki którym  młody człowiek otrzymuje darmowe, lecz manipulacyjne treści idealnie dopasowane do jego słabości. Pokazuje, jak  specjalnie spreparowane narzędzia  wykorzystując dane o nas zatępują wartościowe treści i kształtują sposób myślenia. Nad wszystkim czuwają niewidoczne instytucje, które monitorują użytkownika i projektują jego wybory. Każdy wybór ma ukryte skutki, takie jak samotność, obniżona samoocena czy uzależnienia.
							</p>
						</div>
					</div>
				</div>
			</div>
			@components.Footer()
		</body>
	</html>
}
